body {
    background: black;
    margin: 0;
    font-family: "Avenir";
}

h1{
    color: white;
    text-align: center;
    font-weight: normal;
    background-color: RosyBrown;
    margin: 0;
}


#container {
    padding-top: 4%;
    max-width: 350px;
    margin: 0 auto;

}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    color: RosyBrown;
    font-size: inherit;
}

#info {
    background: white;
    text-align: center;
    color: RosyBrown;
}
.circle {
    border-radius: 50%;
    width: 50%;
    padding-top: 50%;
    float: right;
    margin: 1.;
}

button:hover {
    color: white;
    background: RosyBrown;
}